venv

*.csv
*.xz

.idea

build

dist

.pytest_cache

agent/dqn_weights/*
agent/ppo_weights/*
agent/acer_weights/*
agent/a2c_weights/*

data_recorder/database/data_exports/paper_data/*

runs/*
saved_agents/*
wandb/*

*.egg*


#*.ipynb
#.ipynb_checkpoints
