venv

*.csv
*.xz

*.zip

.idea

build

dist

.pytest_cache

agent/dqn_weights/*
agent/ppo_weights/*
agent/acer_weights/*
agent/a2c_weights/*

data_recorder/database/data_exports/paper_data/*
data_recorder/database/data_exports/*

sgu/deeplob/data/*

runs/*
saved_agents/*
wandb/*

runs/*
saved_agents/*
wandb/*
models/*

*.png

*.egg*


#*.ipynb
#.ipynb_checkpoints
